.fija {

    left:0;
    top:0;
     position:fixed;
       width:100%;
   box-shadow: .1rem .2rem .3rem #333;

}
@media(min-width:280px){
  
   .fija{
      left:0;
      top:0;
      position:fixed;
      width:29%;
margin-left:70%;
z-index:1000;
      box-shadow: .1rem .2rem .3rem #333;
    }
  

}

    body.fijar-scroll {
        overflow: hidden;
    }



    body.fijar-scroll{
     padding-top: 8.6rem;;
 
   }